.slidev-layout {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: theme("colors.stone.950");
  }
  h3 {
    font-size: 1.875rem;
    color: theme("colors.amber-700");
    font-weight: 900;
    font-family: serif;
  }
}
